###  1)Working with Pandas (its more advanced than Lists/Arrarys in terms of analaysing data)

In [44]:
model_list=['BMW','Mercedes','Audi']
print(car_models)
car_conditions_list=['NEW','USED','Damaged/Auction']
print(car_conditions)
quantity_list=[100,150,250]
print(quantity_list)
car_prices_list=[100,20,5]
print (car_prices)

['BMW', 'Mercedes', 'Audi']
['NEW', 'USED', 'Damaged/Auction']
[100, 150, 250]
['$100k', '$20k', '$5k']

In [45]:
import pandas as pd 
car_sales_data=pd.DataFrame()
car_sales_data['ModelId'] = model_list
car_sales_data['Condition'] = car_conditions_list
car_sales_data['Quantity'] = quantity_list
car_sales_data['Price'] = car_prices_list

car_sales_data

    ModelId        Condition  Quantity  Price
0       BMW              NEW       100    100
1  Mercedes             USED       150     20
2      Audi  Damaged/Auction       250      5

In [46]:
car_sales_data['Total_Amount'] = car_sales_data['Quantity'] * car_sales_data['Price']
car_sales_data

    ModelId        Condition  Quantity  Price  Total_Amount
0       BMW              NEW       100    100         10000
1  Mercedes             USED       150     20          3000
2      Audi  Damaged/Auction       250      5          1250