###  1)Working with Pandas (its more advanced than Lists/Arrarys in terms of analaysing data)

In [7]:
model_list=['BMW','Mercedes','Audi']
print(model_list)
car_conditions_list=['NEW','USED','Damaged/Auction']
print(car_conditions_list)
quantity_list=[100,150,250]
print(quantity_list)
car_prices_list=[100,20,5]
print (car_prices_list)

['BMW', 'Mercedes', 'Audi']
['NEW', 'USED', 'Damaged/Auction']
[100, 150, 250]
[100, 20, 5]

In [8]:
import pandas as pd 
car_sales_data=pd.DataFrame()
car_sales_data['ModelId'] = model_list
car_sales_data['Condition'] = car_conditions_list
car_sales_data['Quantity'] = quantity_list
car_sales_data['Price'] = car_prices_list

car_sales_data

    ModelId        Condition  Quantity  Price
0       BMW              NEW       100    100
1  Mercedes             USED       150     20
2      Audi  Damaged/Auction       250      5

In [9]:
car_sales_data['Total_Amount'] = car_sales_data['Quantity'] * car_sales_data['Price']
car_sales_data

    ModelId        Condition  Quantity  Price  Total_Amount
0       BMW              NEW       100    100         10000
1  Mercedes             USED       150     20          3000
2      Audi  Damaged/Auction       250      5          1250

In [28]:
car_sales_data.sample(n=2)

    ModelId        Condition  Quantity  Price  Total_Amount
1  Mercedes             USED       150     20          3000
2      Audi  Damaged/Auction       250      5          1250

In [10]:
data = pd.read_csv('WOW Superstore.csv')
data

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,WOWID0001,Standard Class,Consumer,Seattle,Washington,West,Office Supplies,Binders,407.9760,3,0.20,132.5922
1,WOWID0002,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Appliances,68.8100,5,0.80,-123.8580
2,WOWID0003,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Binders,2.5440,3,0.80,-3.8160
3,WOWID0004,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Furniture,Bookcases,3083.4300,7,0.50,-1665.0522
4,WOWID0005,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Binders,9.6180,2,0.70,-7.0532
...,...,...,...,...,...,...,...,...,...,...,...,...
1945,WOWID1946,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Office Supplies,Paper,3.4240,1,0.20,1.0700
1946,WOWID1947,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Technology,Accessories,151.2000,3,0.20,32.1300
1947,WOWID1948,First Class,Home Office,Houston,Texas,Central,Office Supplies,Paper,65.5840,2,0.20,23.7742
1948,WOWID1949,First Class,Home Office,Houston,Texas,Central,Furniture,Bookcases,383.4656,4,0.32,-67.6704
1949,WOWID1950,Standard Class,Consumer,Houston,Texas,Central,Office Supplies,Envelopes,99.5680,2,0.20,33.6042

In [15]:
# data.head() -> automatically shows top 5
data.head(11)

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,WOWID0001,Standard Class,Consumer,Seattle,Washington,West,Office Supplies,Binders,407.976,3,0.2,132.5922
1,WOWID0002,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Appliances,68.810,5,0.8,-123.8580
2,WOWID0003,Standard Class,Home Office,Fort Worth,Texas,Central,Office Supplies,Binders,2.544,3,0.8,-3.8160
3,WOWID0004,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Furniture,Bookcases,3083.430,7,0.5,-1665.0522
4,WOWID0005,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Binders,9.618,2,0.7,-7.0532
5,WOWID0006,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Furniture,Furnishings,124.200,3,0.2,15.5250
6,WOWID0007,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Envelopes,3.264,2,0.2,1.1016
7,WOWID0008,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Art,86.304,6,0.2,9.7092
8,WOWID0009,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Binders,6.858,6,0.7,-5.7150
9,WOWID0010,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Art,15.760,2,0.2,3.5460
10,WOWID0011,First Class,Corporate,Richardson,Texas,Central,Technology,Phones,1097.544,7,0.2,123.4737

In [16]:
data.tail(10)

,Order ID,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1940,WOWID1941,Standard Class,Corporate,Bryan,Texas,Central,Furniture,Chairs,528.4300,5,0.30,-143.4310
1941,WOWID1942,Standard Class,Corporate,Bryan,Texas,Central,Office Supplies,Binders,22.3860,7,0.80,-35.8176
1942,WOWID1943,Standard Class,Consumer,Chicago,Illinois,Central,Technology,Accessories,191.9680,4,0.20,28.7952
1943,WOWID1944,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Appliances,33.5280,3,0.20,2.5146
1944,WOWID1945,Standard Class,Consumer,Philadelphia,Pennsylvania,East,Office Supplies,Storage,36.7440,3,0.20,3.6744
1945,WOWID1946,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Office Supplies,Paper,3.4240,1,0.20,1.0700
1946,WOWID1947,Standard Class,Corporate,Philadelphia,Pennsylvania,East,Technology,Accessories,151.2000,3,0.20,32.1300
1947,WOWID1948,First Class,Home Office,Houston,Texas,Central,Office Supplies,Paper,65.5840,2,0.20,23.7742
1948,WOWID1949,First Class,Home Office,Houston,Texas,Central,Furniture,Bookcases,383.4656,4,0.32,-67.6704
1949,WOWID1950,Standard Class,Consumer,Houston,Texas,Central,Office Supplies,Envelopes,99.5680,2,0.20,33.6042

In [24]:
data.iloc[0]

Order ID              WOWID0001
Ship Mode        Standard Class
Segment                Consumer
City                    Seattle
State                Washington
Region                     West
Category        Office Supplies
Sub-Category            Binders
Sales                   407.976
Quantity                      3
Discount                    0.2
Profit                  132.592
Name: 0, dtype: object

In [25]:
data.loc[1]

Order ID              WOWID0002
Ship Mode        Standard Class
Segment             Home Office
City                 Fort Worth
State                     Texas
Region                  Central
Category        Office Supplies
Sub-Category         Appliances
Sales                     68.81
Quantity                      5
Discount                    0.8
Profit                 -123.858
Name: 1, dtype: object

In [19]:
for i in data:
    print ('Existing Columns Headers',i)

Existing Columns Headers Order ID
Existing Columns Headers Ship Mode
Existing Columns Headers Segment
Existing Columns Headers City
Existing Columns Headers State
Existing Columns Headers Region
Existing Columns Headers Category
Existing Columns Headers Sub-Category
Existing Columns Headers Sales
Existing Columns Headers Quantity
Existing Columns Headers Discount
Existing Columns Headers Profit